version: "3.9"
services:
  postgres:
    image: postgres:15
    restart: always
    # Read DB credentials from .env (don't commit .env)
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    env_file:
      - .env
    ports:
      - "5050:80"

  backend:
    build: .
    restart: always
    depends_on:
      - postgres
    env_file:
      - .env
    volumes:
      - .:/app
    working_dir: /app
    command: npm run dev
    ports:
      - "4000:4000"

volumes:
  pgdata:
